---
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "Sobre mim";

const identify = {
  firstName: "Lucas",
  country: "Brazil",
  occupation: "Desenvolvedor Frontend",
  hobbies: ["Fotografia", "Futevôlei", "Beach Tennis", "Jogos", "Programação"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Astro",
  "Python",
  "Escrever Documentação",
];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
---

<BaseLayout pageTitle={pageTitle}>
  <p class="paragraph">
    Me chamo Lucas Ferreira Silva, atualmente sou estagiário da empresa de
    desenvolvimento web e mobile chamada PMOVIL, nela executa tarefas como
    desenvolvimento de Landing Pages, audxílio no desenvolvimento de novas
    aplicações e manutenção de projetos legados.
  </p>
  <p class="paragraph">
    Busco me desenvolver profissionalmente e e tecnicamente, para que possa
    alcançar cargos e demandas mais altas, tornando me um desenvolvedor e um
    funcionário melhor.
  </p>

  <p class="paragraph">
    Este site será atualizado enquanto eu participo e concluo projetos e aprendo
    sobre novos assuntos.
  </p>

  <p class="paragraph">Aqui estão alguns fatos sobre mim:</p>
  <ul>
    <li>
      <p>
        Meu nome é {identify.firstName}.
      </p>
    </li>
    <li>
      <p>
        Moro no {identify.country} e trabalho como {identify.occupation}.
      </p>
    </li>
  </ul>
  <p>Minhas habilidades são:</p>
  <ul>
    {
      skills.map((habilidade) => (
        <li class="skill">
          {" "}
          <p>{habilidade}</p>
        </li>
      ))
    }
  </ul>
  <Footer />
</BaseLayout>
