---
import BaseLayout from "./BaseLayout.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");

const uniqueTags = [
  ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
];

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <main class="post-page">
    <div class="cabecalho">
      <img
        class="banner"
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
      />
      <div class="column">
        <p>
          {frontmatter.pubDate.toString().slice(0, 10).replaceAll("-", "/")}
        </p>
        <p><em>{frontmatter.description}</em></p>
        <p>Escrito por: <span>{frontmatter.author}</span></p>
      </div>
    </div>
    <slot />
  </main>
</BaseLayout>

<style>
  main {
    max-width: 1440px;
    margin: 0 auto;
  }
  a {
    color: #1eccef;
  }

  .cabecalho {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
  }

  .cabecalho .column p {
    font-size: 18px;
  }

  .cabecalho .column p:last-child {
    font-weight: 600;
  }

  span {
    color: #1eccef;
  }

  .banner {
    border-radius: 5px;
    width: 500px;
  }

  @media (max-width: 1024px) {
    .cabecalho {
      flex-direction: column;
    }
    .banner {
      width: 100%;
      height: min-content;
    }

    .cabecalho .column p {
      font-size: 14px;
    }
  }
</style>
